<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BlogArticleTagMapper">
    
    <resultMap type="BlogArticleTag" id="BlogArticleTagResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sort"    column="sort"    />
    </resultMap>

    <sql id="selectBlogArticleTagVo">
        select id, name, sort from blog_article_tag
    </sql>

    <select id="selectBlogArticleTagList" parameterType="BlogArticleTag" resultMap="BlogArticleTagResult">
        <include refid="selectBlogArticleTagVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectBlogArticleTagById" parameterType="Long" resultMap="BlogArticleTagResult">
        <include refid="selectBlogArticleTagVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBlogArticleTag" parameterType="BlogArticleTag" useGeneratedKeys="true" keyProperty="id">
        insert into blog_article_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="sort != null">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="sort != null">#{sort},</if>
         </trim>
    </insert>

    <update id="updateBlogArticleTag" parameterType="BlogArticleTag">
        update blog_article_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlogArticleTagById" parameterType="Long">
        delete from blog_article_tag where id = #{id}
    </delete>

    <delete id="deleteBlogArticleTagByIds" parameterType="String">
        delete from blog_article_tag where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>