<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CarouselMapper">
    
    <resultMap type="Carousel" id="CarouselResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="image"    column="image"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCarouselVo">
        select id, title, image, sort, status from carousel
    </sql>

    <select id="selectCarouselList" parameterType="Carousel" resultMap="CarouselResult">
        <include refid="selectCarouselVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectCarouselById" parameterType="Long" resultMap="CarouselResult">
        <include refid="selectCarouselVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCarousel" parameterType="Carousel" useGeneratedKeys="true" keyProperty="id">
        insert into carousel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="image != null and image != ''">image,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="image != null and image != ''">#{image},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateCarousel" parameterType="Carousel">
        update carousel
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCarouselById" parameterType="Long">
        delete from carousel where id = #{id}
    </delete>

    <delete id="deleteCarouselByIds" parameterType="String">
        delete from carousel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>